{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | MyShoes</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-image">
            <img src="{% static 'img/login.jpeg' %}">
        </div>

        <div class="auth-content">

            <h1>Welcome Back</h1>

            <p>
                Login and continue your fashion journey.
            </p>

            <form method="POST" action="{% url 'account_login' %}">

                {% csrf_token %}

                <div class="input-box">
                    <i class="fas fa-user"></i>

                    <input type="text"
                           name="login"
                           placeholder="Username or Email"
                           required>
                </div>

                <div class="input-box">
                    <i class="fas fa-lock"></i>

                    <input type="password"
                           name="password"
                           placeholder="Password"
                           required>
                </div>

                <button type="submit" class="gold-btn">
                    Login
                </button>

            </form>

            <a href="{% provider_login_url 'google' %}"
               class="google-btn">

                <i class="fab fa-google"></i>
                Continue with Google

            </a>

            <div class="auth-footer">

                Don't have an account?

                <a href="{% url 'account_signup' %}">
                    Create Account
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>