{% extends 'base.html' %}
{% load static %}

{% block title %}Add Product{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/add_product.css' %}">

<div class="main-content">

    <h1>Add Product</h1>

    <form method="POST"
          enctype="multipart/form-data"
          class="product-form">

        {% csrf_token %}

        <input type="text"
               name="name"
               placeholder="Product Name"
               required>

        <textarea name="description"
                  placeholder="Description"></textarea>

        <input type="number"
               name="price"
               placeholder="Price"
               required>

        <input type="number"
               name="quantity"
               placeholder="Quantity"
               required>

        <select name="category">

            <option value="shoes">
                Shoes
            </option>

            <option value="clothes">
                Clothes
            </option>

            <option value="tshirts">
                T-Shirts
            </option>

            <option value="trousers">
                Trousers
            </option>

            <option value="jackets">
                Jackets
            </option>

        </select>

        <input type="file"
               name="image"
               required>

        <button type="submit">

            Upload Product

        </button>

    </form>

</div>

{% endblock %}