/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* PAGE */
.page{
    width:100%;
    min-height:calc(100vh - 100px);

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 20px;
}

/* CARD */
.card{
    width:100%;
    max-width:650px;

    background:#fff;

    border:1px solid #e5e7eb;
    border-radius:28px;

    padding:40px;

    box-shadow:0 10px 40px rgba(0,0,0,.08);
}

/* TOP */
.top{
    margin-bottom:35px;
}

.top h1{
    font-size:36px;
    font-weight:800;
    color:#111;
    margin-bottom:10px;
}

.top p{
    color:#6b7280;
}

/* INPUT GROUP */
.input-group{
    margin-bottom:24px;
}

.input-group label{
    display:block;
    margin-bottom:10px;
    font-weight:700;
}

.input-group input{
    width:100%;
    padding:16px 18px;

    border:1px solid #d1d5db;
    border-radius:14px;

    font-size:15px;
}

.input-group input:focus{
    outline:none;
    border-color:#d4af37;

    box-shadow:0 0 0 4px rgba(212,175,55,.15);
}

/* BUTTON */
button{
    width:100%;

    padding:18px;

    border:none;
    border-radius:16px;

    background:#d4af37;
    color:#111;

    font-size:16px;
    font-weight:800;

    cursor:pointer;
}

button:hover{
    background:#c49b1f;
}

/* MOBILE */
@media(max-width:700px){

    .card{
        padding:25px;
    }

    .top h1{
        font-size:28px;
    }
}